.header {
    height: 700px;
    background: url("../../assets/images/vendors.jpg");
    background-size: cover;
    background-position: center;
}

.txt {
    position: relative;
    z-index: 3;
    text-align: center;
    top: 280px;
}