<ion-menu style="background: white;" side="start" content-id="content" class="menu">
  <div>
    <ion-toolbar style="display: flex;background: white;" color="none">

      <img src="../../assets/images/logo.png" alt="">

    </ion-toolbar>
    <ion-item *ngFor="let page of pages" color="none" button>
      <ion-label class="mobilePage" *ngIf="activePath != page" style="color:black;font-family:impact"
        (click)="goToPage(page)">
        {{page.toUpperCase()}}
      </ion-label>
      <ion-label class="mobilePage" *ngIf="activePath == page" style="color:black;font-family:impact">
        {{page.toUpperCase()}}
      </ion-label>

    </ion-item>
    <ion-item *ngIf="!currentUID  && !currentUserData" (click)="toggleForm()" color="none" button>
      <ion-label style="color:black;font-family:impact" class="mobilePage">LOGIN</ion-label>

    </ion-item>
    <ion-item *ngIf="!currentUID && !currentUserData" (click)="goToPage('vendors-main')" color="none" button>
      <ion-label style="color:black;font-family:impact" class="mobilePage">REGISTER</ion-label>
    </ion-item>

    <ion-item (click)="logout()" *ngIf="currentUID  && currentUserData" color="none" button>
      <ion-label style="color:black;font-family:impact" class="mobilePage">LOGOUT</ion-label>
    </ion-item>

  </div>
</ion-menu>

<ion-toolbar color="none" style="background-color: rgba(255, 255, 255, 0.979);position: fixed;z-index: 2; border-bottom:1px solid rgba(0, 0, 0, 0.274);height: 5em;
box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.199);">

  <div style="display: flex;position: relative;top: 1em;" *ngIf="width < 600">
    <ion-icon *ngIf="width<=600" class="bars" name="menu-outline" size="large" color="dark"
      style="border: 2px solid white;" slot="start" (click)="openFirst()"></ion-icon>
    <ion-title style="color: black;font-size: 22px;font-family: slides;font-weight: bold;">EXPORTPORTAL</ion-title>
  </div>


  <div *ngIf="width > 600" style="display: flex;justify-content: space-between;">

    <div style="display: flex;padding-top: 1em;">
      <img style="height: 4em;" src="../../assets/images/logo.png" alt="">
      <ion-title style="color: black;font-size: 22px;font-family: slides;font-weight: bolder;">EXPORTPORTAL</ion-title>
    </div>

    <div *ngIf="width > 600" style="padding-right:100px;padding-top: 1em;">
      <ion-button (click)="goToPage('home')" fill="clear"
        style="color: rgb(7, 7, 7); font-size:1.2em; font-family: title;" *ngIf="activePath != 'home'">
        <span class="hoo"> Home</span>
      </ion-button>
      <ion-button fill="clear" style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;"
        *ngIf="activePath == 'home'">
        <span class="hoo activated">Home</span>
      </ion-button>
      <ion-button (click)="goToPage('exporters-list')" fill="clear"
        style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;" *ngIf="activePath != 'exporters-list'">
        <span class="hoo">Exporters</span>
      </ion-button>
      <ion-button fill="clear" style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;"
        *ngIf="activePath == 'exporters-list'">
        <span class="hoo activated">Exporters</span>
      </ion-button>
      <ion-button (click)="goToPage('categories')" fill="clear"
        style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;" *ngIf="activePath != 'categories'">
        <span class="hoo">Categories</span>
      </ion-button>
      <ion-button fill="clear" style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;"
        *ngIf="activePath == 'categories'">
        <span class="hoo activated">Categories</span>
      </ion-button>
      <ion-button (click)="goToPage('products')" fill="clear"
        style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;" *ngIf="activePath != 'products'">
        <span class="hoo">Products</span>
      </ion-button>
      <ion-button fill="clear" style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;"
        *ngIf="activePath == 'products'">
        <span class="hoo activated">Products</span>
      </ion-button>
      <ion-button (click)="goToPage('about')" fill="clear"
        style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;" *ngIf="activePath != 'about'">
        <span class="hoo">About</span>
      </ion-button>
      <ion-button fill="clear" style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;"
        *ngIf="activePath == 'about'">
        <span class="hoo activated">About</span>
      </ion-button>
      <ion-button (click)="goToPage('contact')" fill="clear"
        style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;" *ngIf="activePath != 'contact'">
        <span class="hoo">Contact</span>
      </ion-button>
      <ion-button fill="clear" style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;"
        *ngIf="activePath == 'contact'">
        <span class="hoo activated">Contact</span>
      </ion-button>
      <ion-button (click)="toggleForm()" *ngIf="!loggedIn" fill="clear"
        style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;">Login
      </ion-button>
      <ion-button *ngIf="!loggedIn" (click)="goToPage('vendors-main')" fill="clear"
        style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;">Register</ion-button>
      <ion-button *ngIf="loggedIn && currentUserData" (click)="showOptions2()" fill="outline"
        style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;">
        <ion-icon name="person-outline"></ion-icon>
        {{currentUserData.name}}
      </ion-button>
    </div>
  </div>


</ion-toolbar>
<div style="position:fixed;right:100px;top:70px;z-index:1000;" *ngIf="showOptions">
  <ion-item color="none" style="background:rgb(255, 255, 255);color:rgb(0, 68, 255);font-family: title;"
    (click)="goToPage('vendors-dashboard')" mode="ios" button>
    <ion-icon slot="start" name="person-outline" color="primary"></ion-icon>DASHBOARD
  </ion-item>
  <ion-item color="none" style="background:white;color:rgb(255, 0, 0);font-family: title;" (click)="logout()" mode="ios"
    button>
    <ion-icon slot="start" name="log-out-outline" color="danger"></ion-icon>LOGOUT
  </ion-item>
</div>

<div *ngIf="openLoginForm && width > 1100"
  style="position:fixed;right:25%;top:20%;z-index:1000;height: 30em;width: 50%;background: white; color: black;box-shadow: rgba(0, 0, 0, 0.596);box-sizing: border-box;border: 1px solid black; ">

  <div style="position: relative;left:94%;top: 3%;">
    <ion-icon (click)="toggleForm()" color="danger" style="font-size: 30px;" name="close-outline"></ion-icon>
  </div>
  <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;padding:30px">

    <div>

      <ion-title style="color: black;" class="headinone">Sign In To Account</ion-title>

      <ion-title style="text-align: center;color: black;" class="headintwo">Don't have an account?

        <span (click)="goToPage('vendors-main')" style="color: #09757A;">Sign Up</span>

      </ion-title>

    </div>

    <div style=" padding-top: 7px;" class="fields">


      <div class="paddtop">
        <ion-label style="display: flex;justify-content: flex-start;">Email
        </ion-label>
        <ion-input [(ngModel)]="email" placeholder='Enter your e-mail'></ion-input>
      </div>

      <div class="paddtop">
        <ion-label style="display: flex;justify-content: flex-start;">Password</ion-label>
        <ion-input [(ngModel)]="password" type='password' placeholder='Enter your password'></ion-input>
      </div>


      <div class="paddtop">
        <ion-button (click)="login()" style=" max-width: 50vh;" color="none"
          style="background-color: black;color: white;" expand='block'>
          <p>LOGIN</p>
        </ion-button>
        <div style="display: flex;">
          <ion-checkbox style="--background: white;--border-color:black"></ion-checkbox>
          <ion-label class="padleft">Keep me signed in on this device</ion-label>
        </div>
      </div>


    </div>

  </div>



</div>

<div *ngIf="openLoginForm && width < 1100"
  style="position:fixed;top:20%;z-index:1000;height: 30em;width: 85%;left: 8%;background: white; background: white; color: black;box-shadow: rgba(0, 0, 0, 0.596);box-sizing: border-box;border: 1px solid black; ">

  <div style="text-align: right;">
    <ion-icon (click)="toggleForm()" color="danger" style="font-size: 30px;" name="close-outline"></ion-icon>
  </div>
  <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">

    <div>

      <h1 style="text-align: center;color: black;" class="headinone">Sign In To Account</h1>

      <h2 style="text-align: center;color: black;" class="headintwo">Don't have an account?

        <span (click)="goToPage('vendors-main')" style="color: #09757A;">Sign Up</span>

      </h2>

    </div>

    <div style=" padding-top: 7px;" class="fields">


      <div class="paddtop">
        <ion-label style="display: flex;justify-content: flex-start;">Email
        </ion-label>
        <ion-input [(ngModel)]="email" placeholder='Enter your e-mail'></ion-input>
      </div>

      <div class="paddtop">
        <ion-label style="display: flex;justify-content: flex-start;">Password</ion-label>
        <ion-input [(ngModel)]="password" type='password' placeholder='Enter your password'></ion-input>
      </div>


      <div class="paddtop">
        <ion-button (click)="login()" style=" max-width: 50vh;" color="none"
          style="background-color: black;color: white;" expand='block'>
          <p>LOGIN</p>
        </ion-button>
        <div style="display: flex;">
          <ion-checkbox style="--background: white;--border-color:black"></ion-checkbox>
          <ion-label class="padleft">Keep me signed in on this device</ion-label>
        </div>
      </div>


    </div>

  </div>



</div>