<ion-menu side="start" content-id="content" class="menu">
  <div>
    <ion-toolbar color="danger">
      <ion-title style="font-family:fantasy;font-size:2em;font-weight:bolder;">EXPORTPORTAL</ion-title>
    </ion-toolbar>
    <ion-item *ngFor="let page of pages" color="none" button>
      <ion-label class="mobilePage" *ngIf="activePath != page" style="color:white;font-family:impact"
        (click)="goToPage(page)">
        {{page.toUpperCase()}}
      </ion-label>
      <ion-label class="mobilePage" *ngIf="activePath == page" style="color:rgb(182, 180, 180);font-family:impact">
        {{page.toUpperCase()}}
      </ion-label>
    </ion-item>
  </div>
</ion-menu>
<ion-toolbar color="none" style="background-color: rgba(255, 255, 255, 0.979);position: fixed;z-index: 2; border-bottom:1px solid rgba(0, 0, 0, 0.274);
box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.199);">
  <ion-icon *ngIf="width<=600" class="bars" name="menu-outline" size="large" color="dark" slot="start"
    (click)="openFirst()"></ion-icon>
  <ion-title slot="start"
    style="font-family:fantasy; font-size:2em; padding-top:20px;padding-bottom: 20px; color:rgb(0, 0, 0)">
    Export<span style="color: rgb(0, 140, 255); font-weight: bolder;" id="content"><span
        style="color: rgb(0, 140, 255); font-weight: bolder;">Portal</span></span>
  </ion-title>
  <div slot="end" *ngIf="width > 600" style="padding-right:100px;">
    <ion-button (click)="goToPage('home')" fill="clear"
      style="color: rgb(7, 7, 7); font-size:1.2em; font-family: title;" *ngIf="activePath != 'home'">
      <span class="hoo"> Home</span>
    </ion-button>
    <ion-button fill="clear" style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;"
      *ngIf="activePath == 'home'">
      <span class="hoo activated">Home</span>
    </ion-button>
    <ion-button (click)="goToPage('exporters-list')" fill="clear"
      style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;" *ngIf="activePath != 'exporters-list'">
      <span class="hoo">Exporters</span>
    </ion-button>
    <ion-button fill="clear" style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;"
      *ngIf="activePath == 'exporters-list'">
      <span class="hoo activated">Exporters</span>
    </ion-button>
    <ion-button (click)="goToPage('categories')" fill="clear"
      style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;" *ngIf="activePath != 'categories'">
      <span class="hoo">Categories</span>
    </ion-button>
    <ion-button fill="clear" style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;"
      *ngIf="activePath == 'categories'">
      <span class="hoo activated">Categories</span>
    </ion-button>
    <ion-button (click)="goToPage('products')" fill="clear"
      style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;" *ngIf="activePath != 'products'">
      <span class="hoo">Products</span>
    </ion-button>
    <ion-button fill="clear" style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;"
      *ngIf="activePath == 'products'">
      <span class="hoo activated">Products</span>
    </ion-button>
    <ion-button (click)="goToPage('about')" fill="clear"
      style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;" *ngIf="activePath != 'about'">
      <span class="hoo">About</span>
    </ion-button>
    <ion-button fill="clear" style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;"
      *ngIf="activePath == 'about'">
      <span class="hoo activated">About</span>
    </ion-button>
    <ion-button (click)="goToPage('contact')" fill="clear"
      style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;" *ngIf="activePath != 'contact'">
      <span class="hoo">Contact</span>
    </ion-button>
    <ion-button fill="clear" style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;"
      *ngIf="activePath == 'contact'">
      <span class="hoo activated">Contact</span>
    </ion-button>
    <ion-button *ngIf="!loggedIn" (click)="goToPage('vendors-main')" fill="outline"
      style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;">Login/Register</ion-button>
    <ion-button *ngIf="loggedIn && currentUserData" (click)="showOptions2()" fill="outline"
      style="color: rgb(0, 0, 0); font-size:1.2em; font-family: title;">
      <ion-icon name="person-outline"></ion-icon>
      {{currentUserData.Name}}
    </ion-button>
  </div>
</ion-toolbar>
<div style="position:fixed;right:100px;top:70px;z-index:1000;" *ngIf = "showOptions">
  <ion-item color="none" style="background:rgb(255, 255, 255);color:rgb(0, 68, 255);font-family: title;" (click)="goToPage('vendors-main')" mode="ios" button>
    <ion-icon slot="start" name="person-outline" color="primary"></ion-icon>DASHBOARD
  </ion-item>
  <ion-item color="none" style="background:white;color:rgb(255, 0, 0);font-family: title;" (click)="logout()" mode="ios" button>
    <ion-icon slot="start" name="log-out-outline" color="danger"></ion-icon>LOGOUT
  </ion-item>
</div>