<ion-footer>

    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>Export<span>Portal</span></h3>

            <p class="footer-links">
                <a href="#" class="link-1">Home</a>

                <a href="#">About Us</a>

                <a href="#">Contact Us</a>

                <a href="#">Categories</a>

                <a href="#">Another</a>

                <a href="#">Another</a>
            </p>

            <p class="footer-company-name" style="color: white;">COPYRIGHTS © EXPORTPORTAL 2020 All Rights Reserved</p>
        </div>

        <div class="footer-center">

            <div>

                <ion-input placeholder="Join Our Newsletter"></ion-input>
            </div>

            <div style="padding: 1em;">
                <p>
                    <ion-icon name="call-outline"></ion-icon>
                    +923254489521
                </p>
                <br>
                <p>
                    <ion-icon name="mail-outline"></ion-icon>
                    help@exportportal.pk
                </p>
                <br>
                <p>
                    <ion-icon name="globe-outline"></ion-icon>
                    exportportal.pk
                </p>


            </div>



        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>
                    <h2 style="color: white;">About the company</h2>
                    <p style="color: white;"> International trade becomes that much more safe and secure with Export
                        Portal. Register for free
                        today
                        on the best import and export B2B platform!</p>
                </span>
            </p>

            <div class="footer-icons">

                <a href="#">
                    <ion-icon name='mail-outline'></ion-icon>
                </a>
                <a href="#">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </a>
                <a href="#">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>

            </div>

        </div>

    </footer>
</ion-footer>