<app-header></app-header>
<ion-content>

  <div class="fullpage">

    <div class="header">

      <div class="text">

        <ion-label class="texxt">ADD PRODUCTS</ion-label>

      </div>

    </div>

    <ion-toolbar color="tertiary">
      <h1 style="font-family: title;font-size: 3em;color:rgb(255, 255, 255);text-align: center;">ADD PRODUCTS</h1>
    </ion-toolbar>

  </div>

  <div class="form">
    <ion-card class="fade-in">

      <ion-card-content>

        <div class="card">

          <ion-title class="headinone">Add Products</ion-title>

        </div>

        <div style=" padding-top: 7px;" class="fields">

          <div class="paddtop">
            <ion-label style="display: flex;justify-content: flex-start;">Name</ion-label>
            <ion-input placeholder='Enter your e-mail'></ion-input>
          </div>

          <div class="paddtop">
            <ion-label style="display: flex;justify-content: flex-start;">Description</ion-label>
            <ion-input placeholder='Enter your password'></ion-input>
          </div>

          <div class="paddtop">
            <ion-list *ngIf="subtypes">
              <ion-item>
                <ion-label>Category</ion-label>
                <ion-select [(ngModel)]="selectedcat" (ionChange)="choosecat(selectedcat);" mode='ios'
                  position='stacked'>
                  <ion-select-option [value]="item" *ngFor="let item of subtypes">
                    {{item}}
                  </ion-select-option>
                </ion-select>

              </ion-item>
            </ion-list>
          </div>

          <div>
            <ion-button style=" max-width: 50vh;" color="dark" expand='block'>
              <p>SIGN IN</p>
            </ion-button>

          </div>


        </div>

      </ion-card-content>


    </ion-card>
  </div>

  <app-footer>
  </app-footer>
</ion-content>