.fullpage {
    height: 100%;
    width: 100%;
}

.header {
    height: 500px;
    position: relative;
    z-index: 1;
    background-image: url("../../assets/images/productspageheader.jpg");
    background-position: cover;
    background-size: 100% 100%;
}
.text {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;

    top: 50%;
}
.texxt {
    color: white;
    font-family: title;
    font-weight: bold;
    z-index: 3;
    font-size: 40px;
}
.form {
    height: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
ion-card {
    color: black;
    cursor: pointer;
    width: 30%;
}

.headinone {
    font-family: title;
    font-size: 40px;
    text-align: center;
}

.headintwo {
    font-size: 12px;
    font-family: "Hammersmith One", sans-serif;
}

.fields {
    padding: 30px;
    font-family: "Hammersmith One", sans-serif;
}

ion-input {
    font-size: 10px;
    font-family: "Oxygen", sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.415);
    max-width: 50vh;
}

span {
    color: #09757a;
}

.paddtop {
    padding-top: 20px;
}
p {
    font-family: "Hammersmith One", sans-serif;
}
.terms {
    font-size: 10px;
}
///fonts
.padleft {
    padding-left: 8px;
}

.disflex {
    display: flex;
    padding-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
}
.flexend {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: flex-end;
}
