<ion-content>
  <div class="page">
    <div class="webheader">
      <div class="txt">
        <ion-label style="font-family: title;font-size: 4em;color: white;"><span class="highlight">ABOUT</span> US
        </ion-label>
      </div>
    </div>

    <div *ngIf="width > 800" style="padding: 3em;">

      <div style="display: flex;">
        <img style="width: 35%;height: 50%; " src="../../assets/images/aboutusimgone.png" alt="">
        <div style="width: 20%;">

        </div>
        <div class="card"
          style="text-align: right;padding: 50px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);max-height: 24em;">
          <h1 style="font-weight: bold;font-family: title;font-size: 3em;">WHO ARE WE</h1>
          <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate deleniti, sunt possimus aliquid
            perspiciatis, quasi, praesentium ipsam neque tempora provident voluptates porro dolorem architecto eaque
            fuga
            magni maxime inventore amet laborum minus. Minus reiciendis, quisquam neque sint dolorum enim. Suscipit
            quibusdam delectus enim veniam harum autem ducimus odit qui non. Optio quibusdam perferendis debitis aliquid
            nemo odit quisquam similique vel, omnis perspiciatis, nisi excepturi, laborum voluptatem aliquam enim rerum
            non
            suscipit! Sapiente ratione sed expedita officia? Obcaecati exercitationem error, quisquam deleniti
            voluptates
            perspiciatis minus ipsum laudantium, perferendis adipisci vel. Nam placeat dolorum sapiente quo alias
            deserunt
            vel ratione maiores. Magnam?
          h</p>
        </div>


      </div>

      <div style="display: flex">

        <div class="card"
          style="text-align: left;padding: 50px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);max-height: 24em;">
          <h1 style="font-weight: bold;font-family: title;font-size: 3em;">WHAT TO CHOOSE US</h1>
          <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate deleniti, sunt possimus aliquid
            perspiciatis, quasi, praesentium ipsam neque tempora provident voluptates porro dolorem architecto eaque
            fuga
            magni maxime inventore amet laborum minus. Minus reiciendis, quisquam neque sint dolorum enim. Suscipit
            quibusdam delectus enim veniam harum autem ducimus odit qui non. Optio quibusdam perferendis debitis aliquid
            nemo odit quisquam similique vel, omnis perspiciatis, nisi excepturi, laborum voluptatem aliquam enim rerum
            non
            suscipit! Sapiente ratione sed expedita officia? Obcaecati exercitationem error, quisquam deleniti
            voluptates
            perspiciatis minus ipsum laudantium, perferendis adipisci vel. Nam placeat dolorum sapiente quo alias
            deserunt
            vel ratione maiores. Magnam?</p>
        </div>
        <div style="width: 20%;">

        </div>

        <img style="width: 35%; " src="../../assets/images/aboutusimgtwo.png" alt="">


      </div>

      <div style="display: flex;justify-content: center;">

        <div class="card"
          style="text-align: center;padding: 50px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);max-height: 24em;">
          <h1 style="font-weight: bold;font-family: title;font-size: 3em;">WHAT IS EXPORT<span
              class="highlight">PORTAL</span></h1>
          <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate deleniti, sunt possimus aliquid
            perspiciatis, quasi, praesentium ipsam neque tempora provident voluptates porro dolorem architecto eaque
            fuga
            magni maxime inventore amet laborum minus. Minus reiciendis, quisquam neque sint dolorum enim. Suscipit
            quibusdam delectus enim veniam harum autem ducimus odit qui non. Optio quibusdam perferendis debitis aliquid
            nemo odit quisquam similique vel, omnis perspiciatis, nisi excepturi, laborum voluptatem aliquam enim rerum
            non
            suscipit! Sapiente ratione sed expedita officia? Obcaecati exercitationem error, quisquam deleniti
            voluptates
            perspiciatis minus ipsum laudantium, perferendis adipisci vel. Nam placeat dolorum sapiente quo alias
            deserunt
            vel ratione maiores. Magnam?</p>
        </div>

      </div>

    </div>
    <div *ngIf="width < 800">

      <div style="display: flex;justify-content: center;align-items: center;padding:2em;">
        <div class="card" style="text-align: center;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding: 20px;">
          <h1 style="font-weight: bold;font-family: title;font-size: 3em;">WHO ARE WE</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam enim maiores fugiat repudiandae error
            corporis eos hic ea, culpa adipisci? Consequatur enim veniam inventore odio, aliquid delectus quod nulla
            quis
            iste, fugit sed molestiae expedita nihil quo corrupti explicabo rem aliquam eum eligendi, consequuntur
            minus.
            Aliquam dolorem molestiae, ex obcaecati eligendi nihil aliquid, officiis qui nam, voluptatum odio porro
            amet!
            Expedita molestias corrupti, aut cum laboriosam doloribus totam impedit. Earum alias sit aut architecto
            exercitationem, ad minima quia aliquam odio magni ab numquam aperiam, consequatur ducimus voluptatum, eos
            inventore laboriosam animi quo minus necessitatibus maiores delectus. Non eveniet nostrum accusantium.</p>
        </div>
      </div>

      <div style="display: flex;justify-content: center;align-items: center;padding:2em;">
        <div class="card" style="text-align: center;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding: 20px;">
          <h1 style="font-weight: bold;font-family: title;font-size: 3em;">WHY TO CHOOSE US</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam enim maiores fugiat repudiandae error
            corporis eos hic ea, culpa adipisci? Consequatur enim veniam inventore odio, aliquid delectus quod nulla
            quis
            iste, fugit sed molestiae expedita nihil quo corrupti explicabo rem aliquam eum eligendi, consequuntur
            minus.
            Aliquam dolorem molestiae, ex obcaecati eligendi nihil aliquid, officiis qui nam, voluptatum odio porro
            amet!
            Expedita molestias corrupti, aut cum laboriosam doloribus totam impedit. Earum alias sit aut architecto
            exercitationem, ad minima quia aliquam odio magni ab numquam aperiam, consequatur ducimus voluptatum, eos
            inventore laboriosam animi quo minus necessitatibus maiores delectus. Non eveniet nostrum accusantium.</p>
        </div>
      </div>

      <div style="display: flex;justify-content: center;align-items: center;padding:2em;">
        <div class="card" style="text-align: center;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding: 20px;">
          <h1 style="font-weight: bold;font-family: title;font-size: 3em;">WHAT IS EXPORT<span
              class="highlight">PORTAL</span>
          </h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam enim maiores fugiat repudiandae error
            corporis eos hic ea, culpa adipisci? Consequatur enim veniam inventore odio, aliquid delectus quod nulla
            quis
            iste, fugit sed molestiae expedita nihil quo corrupti explicabo rem aliquam eum eligendi, consequuntur
            minus.
            Aliquam dolorem molestiae, ex obcaecati eligendi nihil aliquid, officiis qui nam, voluptatum odio porro
            amet!
            Expedita molestias corrupti, aut cum laboriosam doloribus totam impedit. Earum alias sit aut architecto
            exercitationem, ad minima quia aliquam odio magni ab numquam aperiam, consequatur ducimus voluptatum,
            eos
            inventore laboriosam animi quo minus necessitatibus maiores delectus. Non eveniet nostrum accusantium.
          </p>
        </div>
      </div>

    </div>
    <app-footer></app-footer>
  </div>
</ion-content>