<ion-content>
  <div class="page">
    <div class="webheader">
      <div class="txt">
        <ion-label style="font-family: title;font-size: 4em;color: white;"><span class="highlight">ABOUT</span> US
        </ion-label>
      </div>
    </div>

    <div *ngIf="width > 800" style="padding: 3em;">

      <div style="display: flex;">
        <img style="width: 35%;height: 50%; " src="../../assets/images/aboutusimgone.png" alt="">
        <div style="width: 20%;">

        </div>
        <div class="card"
          style="text-align: right;padding: 50px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);max-height: 24em;">
          <h1 style="font-weight: bold;font-family: title;font-size: 3em;">WHO ARE WE</h1>
          <p> Exportportal.pk is an online B2B platform aiming to be a comprehensive international
            marketplace specifically designed for Pakistani exporters , which may include Small and
            Medium-sized Enterprises (SMEs) and their counterparts covering all sectors and industries.
            h</p>
        </div>


      </div>

      <div style="display: flex">

        <div class="card"
          style="text-align: left;padding: 50px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);max-height: 24em;">
          <h1 style="font-weight: bold;font-family: title;font-size: 3em;">WHY TO CHOOSE US</h1>
          <p> The vision is to provide such a unified and comprehensive platform where all the companies
            in Pakistan, which are exporters today and may aim to become exporters in future, are
            listed. Such a platform will become a directory for these companies. It will help them project
            their profiles to the international market.
            The companies will be listed and categorized according to their products and services. Such
            a categorization will facilitate prioritization, transparency, and ease-of-use for the end user.
            Some of the key features for listed companies are:
            <br>
            ● All sorts of companies will be listed on the portal, e.g. food, merchandise, IT.
            <br>
            ● The information such as detailed brand information, company description,

            contact.details and products will be provided on the company specific page.
            <br>
            ● Each company will have a dedicated page for its brand.
            <br>
            ● Based on the membership status companies could list and add products with details
            <br>
            ● Top exporters based on certain criterias, certifications and ratings will be promoted.
            <br>
            ● Our team will be doing active marketing of the brands on social media and other
            internet marketplaces.
          </p>
        </div>
        <div style="width: 20%;">

        </div>

        <img style="width: 35%; " src="../../assets/images/aboutusimgtwo.png" alt="">


      </div>

      <div style="display: flex;justify-content: center;">

        <div class="card"
          style="text-align: center;padding: 50px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);max-height: 24em;">
          <h1 style="font-weight: bold;font-family: title;font-size: 3em;">WHAT IS EXPORT<span
              class="highlight">PORTAL</span></h1>
          <p> A country like Pakistan with such a large population, famous for its diverse industries with a
            quality products portfolio and continuously growing businesses, offers great opportunities for
            international traders. In contrast, Pakistani exporters still have very little penetration and
            presence in the e-commerce domain. Many companies do not even have an online
            marketplace or presence, which limits the opportunities and recognition for them. Industries
            that are located in remote areas have little to poor internet connectivity. Several SMEs and
            micro export organizations are doing business in decades old traditional ways such as
            contact based trading. To exploit the full potential of such a dynamic market a digital platform
            will serve as backbone for Pakistan’s trading and exports.
          </p>
        </div>

      </div>

    </div>
    <div *ngIf="width < 800">

      <div style="display: flex;justify-content: center;align-items: center;padding:2em;">
        <div class="card" style="text-align: center;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding: 20px;">
          <h1 style="font-weight: bold;font-family: title;font-size: 3em;">WHO ARE WE</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam enim maiores fugiat repudiandae error
            corporis eos hic ea, culpa adipisci? Consequatur enim veniam inventore odio, aliquid delectus quod nulla
            quis
            iste, fugit sed molestiae expedita nihil quo corrupti explicabo rem aliquam eum eligendi, consequuntur
            minus.
            Aliquam dolorem molestiae, ex obcaecati eligendi nihil aliquid, officiis qui nam, voluptatum odio porro
            amet!
            Expedita molestias corrupti, aut cum laboriosam doloribus totam impedit. Earum alias sit aut architecto
            exercitationem, ad minima quia aliquam odio magni ab numquam aperiam, consequatur ducimus voluptatum, eos
            inventore laboriosam animi quo minus necessitatibus maiores delectus. Non eveniet nostrum accusantium.</p>
        </div>
      </div>

      <div style="display: flex;justify-content: center;align-items: center;padding:2em;">
        <div class="card" style="text-align: center;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding: 20px;">
          <h1 style="font-weight: bold;font-family: title;font-size: 3em;">WHY TO CHOOSE US</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam enim maiores fugiat repudiandae error
            corporis eos hic ea, culpa adipisci? Consequatur enim veniam inventore odio, aliquid delectus quod nulla
            quis
            iste, fugit sed molestiae expedita nihil quo corrupti explicabo rem aliquam eum eligendi, consequuntur
            minus.
            Aliquam dolorem molestiae, ex obcaecati eligendi nihil aliquid, officiis qui nam, voluptatum odio porro
            amet!
            Expedita molestias corrupti, aut cum laboriosam doloribus totam impedit. Earum alias sit aut architecto
            exercitationem, ad minima quia aliquam odio magni ab numquam aperiam, consequatur ducimus voluptatum, eos
            inventore laboriosam animi quo minus necessitatibus maiores delectus. Non eveniet nostrum accusantium.</p>
        </div>
      </div>

      <div style="display: flex;justify-content: center;align-items: center;padding:2em;">
        <div class="card" style="text-align: center;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding: 20px;">
          <h1 style="font-weight: bold;font-family: title;font-size: 3em;">WHAT IS EXPORT<span
              class="highlight">PORTAL</span>
          </h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam enim maiores fugiat repudiandae error
            corporis eos hic ea, culpa adipisci? Consequatur enim veniam inventore odio, aliquid delectus quod nulla
            quis
            iste, fugit sed molestiae expedita nihil quo corrupti explicabo rem aliquam eum eligendi, consequuntur
            minus.
            Aliquam dolorem molestiae, ex obcaecati eligendi nihil aliquid, officiis qui nam, voluptatum odio porro
            amet!
            Expedita molestias corrupti, aut cum laboriosam doloribus totam impedit. Earum alias sit aut architecto
            exercitationem, ad minima quia aliquam odio magni ab numquam aperiam, consequatur ducimus voluptatum,
            eos
            inventore laboriosam animi quo minus necessitatibus maiores delectus. Non eveniet nostrum accusantium.
          </p>
        </div>
      </div>

    </div>
    <app-footer></app-footer>
  </div>
</ion-content>