<app-header></app-header>

<ion-content>
  <div class="page">
    <div class="webheader">
      <div class="txt">
        <ion-label style="font-family: title;font-size: 4em;color: white;"><span class="highlight">ABOUT</span> US
        </ion-label>
      </div>
    </div>

    <div style="display: flex;justify-content: center;align-items: center;">
      <div class="content">
        <h1 style="font-family: title;font-weight: bold;font-size: 3em;">WHO ARE WE</h1>
        <p style="text-align: center;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At sunt autem quisquam, laboriosam qui mollitia harum
          recusandae praesentium cum rem odit debitis eveniet! Ipsam ad quod rerum veniam amet, earum sapiente voluptate
          illo numquam perspiciatis sed illum culpa maxime explicabo repellendus nemo necessitatibus totam odit sint!
          Harum
          voluptate repudiandae accusamus dolore soluta commodi provident ipsum cum sequi, omnis expedita totam tempora
          sit.
          Quasi optio ut aperiam, magnam hic doloribus? Rem quisquam corrupti magnam facilis sequi at, cumque, quasi
          labore
          illum distinctio repellat recusandae itaque officia iste perferendis earum impedit maiores voluptatem quos
          consectetur unde a accusantium asperiores nobis? Et, reiciendis.
        </p>

        <div style="display: flex;justify-content: center;">
          <div class="divider">

          </div>
        </div>

        <h1 style="font-family: title;font-weight: bold;font-size: 3em;">WHAT ARE WE</h1>
        <p style="text-align: center;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At sunt autem quisquam, laboriosam qui mollitia harum
          recusandae praesentium cum rem odit debitis eveniet! Ipsam ad quod rerum veniam amet, earum sapiente voluptate
          illo numquam perspiciatis sed illum culpa maxime explicabo repellendus nemo necessitatibus totam odit sint!
          Harum
          voluptate repudiandae accusamus dolore soluta commodi provident ipsum cum sequi, omnis expedita totam tempora
          sit.
          Quasi optio ut aperiam, magnam hic doloribus? Rem quisquam corrupti magnam facilis sequi at, cumque, quasi
          labore
          illum distinctio repellat recusandae itaque officia iste perferendis earum impedit maiores voluptatem quos
          consectetur unde a accusantium asperiores nobis? Et, reiciendis.
        </p>

        <div style="display: flex;justify-content: center;">
          <div class="divider">

          </div>
        </div>

        <h1 style="font-family: title;font-weight: bold;font-size: 3em;">WHY TO GO FOR EXPORT<span
            class="highlight">PORTAL</span></h1>
        <p style="text-align: center;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At sunt autem quisquam, laboriosam qui mollitia harum
          recusandae praesentium cum rem odit debitis eveniet! Ipsam ad quod rerum veniam amet, earum sapiente voluptate
          illo numquam perspiciatis sed illum culpa maxime explicabo repellendus nemo necessitatibus totam odit sint!
          Harum
          voluptate repudiandae accusamus dolore soluta commodi provident ipsum cum sequi, omnis expedita totam tempora
          sit.
          Quasi optio ut aperiam, magnam hic doloribus? Rem quisquam corrupti magnam facilis sequi at, cumque, quasi
          labore
          illum distinctio repellat recusandae itaque officia iste perferendis earum impedit maiores voluptatem quos
          consectetur unde a accusantium asperiores nobis? Et, reiciendis.
        </p>


      </div>

    </div>
    <app-footer></app-footer>
  </div>
</ion-content>