.page {
    height: 100%;
    width: 100%;
}
.webheader {
    height: 500px;
    background: url("../../assets/images/aboutus.jpg") no-repeat center center;
    background-size: cover;
    box-shadow: 0px 0px 10px 3px rgb(167, 166, 166);
    position: relative;
    z-index: 1;
    background-size: cover;
    .txt {
        position: relative;
        z-index: 3;
        text-align: center;
        top: 48%;
    }
}
.content {
    height: 50%;
    width: 100%;
    background: white;
}
