.page {
    height: 100%;
    width: 100%;
}
.webheader {
    height: 700px;
    background: url("../../assets/images/contactpage.jpg") no-repeat center center;
    background-size: cover;
    box-shadow: 0px 0px 10px 3px rgb(167, 166, 166);
    position: relative;
    z-index: 1;
    background-size: cover;
    .txt {
        position: relative;
        z-index: 3;
        text-align: center;
        top: 48%;
    }
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600");

.body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    color: #777;
}

.container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact .button[type="submit"] {
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
    background: white;
    padding: 25px;
    margin: 50px 0;
}

#contact h3 {
    color: #f96;
    display: block;
    font-size: 30px;
    font-weight: 400;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact .button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #0cf;
    color: #fff;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact .button[type="submit"]:hover {
    background: #09c;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact .button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}
::-webkit-input-placeholder {
    color: #888;
}
:-moz-placeholder {
    color: #888;
}
::-moz-placeholder {
    color: #888;
}
:-ms-input-placeholder {
    color: #888;
}
ion-input {
    padding: 0;
    border: 1px solid #999;
}

.notice {
    position: relative;
    top: -2em;
    background: #f9f9f9;
    padding: 1em 1em 1em 2em;
    border-left: 4px solid #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

.notice:before {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: -17px;
    background-color: #ddd;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-family: Georgia;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.info {
    border-color: #0074d9;
}

.info:before {
    content: "i";
    background-color: #0074d9;
}

.success {
    border-color: #2ecc40;
}

.success:before {
    content: "√";
    background-color: #2ecc40;
}
