<app-header></app-header>
<ion-content>
  <div class="page">
    <div class="webheader">
      <div class="txt">
        <ion-label style="font-family: title;font-size: 4em;color: white;"><span class="highlight">CONTACT</span> US
        </ion-label>
      </div>
    </div>

    <div style="background: white;" class="container body">
      <form id="contact" action="" method="post">
        <h3 style="font-family: title;font: bold;color: black;">We'd Love to Hear From You</h3>
        <h4>Contact us today, and get reply with in 24 hours!</h4>
        <fieldset>
          <input #name placeholder="Your name" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
          <input #email placeholder="Your Email Address" type="email" tabindex="2" required>
        </fieldset>
        <fieldset>
          <input #phone placeholder="Your Phone Number" type="tel" tabindex="3" required>
        </fieldset>
        <fieldset>
          <input #website placeholder="web url if no web simply add no web" type="url" tabindex="4" required>
        </fieldset>
        <fieldset>
          <textarea #message placeholder="Type your Message Here...." tabindex="5" required></textarea>
        </fieldset>
        <fieldset>
          <ion-button (click)="getValue()" color="none" style="background: #0cf;" expand='block'>Submit
          </ion-button>
        </fieldset>
      </form>
      <div *ngIf="notification" class="notice success">
        <p>Form Is Submitted</p>
      </div>

    </div>
    <app-footer></app-footer>
  </div>


</ion-content>