.cardsparent {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    margin: 30px auto;
    width: 350px;
    height: 300px;
    border-radius: 40px;
    box-shadow: -1px 15px 30px -12px black;
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.images {
    padding-top: 20px;
    height: 10em;
    object-fit: contain;
    width: 100%;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -10px;
    height: 40px;
    color: rgb(0, 68, 85);
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

#container a {
    text-decoration: none;
}

@media all and (max-width: 500px) {
    .card-list {
        flex-direction: column;
    }
}

.header {
    height: 700px;
    background: url("../../assets/images/products.jpg");
    background-size: cover;
    background-position: center;
}

.txt {
    position: relative;
    z-index: 3;
    text-align: center;
    top: 280px;
}
