<ion-content>
  <div class="header" *ngIf="width">
    <ion-grid *ngIf="width>600">
      <ion-row>
        <ion-col style="padding-left:150px;padding-right:150px;padding-top:250px;" size="7">
          <ion-slides [options]="slideOpts">
            <ion-slide>
              <div>
                <!--<h3 style = "color:white; font-family: bangers;text-align:center;">Coming</h3>-->
                <h1 style="color:white; font-weight: bold;font-family: bangers;text-align:center;
                font-family: slides; font-size:3em;font-weight: 600!important;">OVER <span class="highlight">500+
                    REGISTERED</span> EXPORTERS
                </h1>
                <p style="color:white;text-align:center;">
                  <ion-button style="font-family: general;" color="none" mode="ios"
                    style="border:1px white solid;border-radius: 10px;color:white; font-family: title;font-size: 1.3em;"
                    (click)="goToPage('custom-order')">
                    View Vendors</ion-button>
                </p>
              </div>
            </ion-slide>
            <ion-slide>
              <div>
                <!--<h3 style = "color:white; font-family: bangers;text-align:center;">Coming</h3>-->
                <h1 style="color:white; font-weight: 600!important;;font-family: bangers;text-align:center;
                font-family: slides; font-size:3em;">FIND EXPORTERS BY <span class="highlight">CATEGORY</span>
                </h1>
                <p style="color:white;text-align:center;">
                  <ion-button style="font-family: general;" color="none" mode="ios"
                    style="border:1px white solid;border-radius: 10px;color:white; font-family: title;font-size: 1.3em;"
                    (click)="goToPage('custom-order')">
                    View Categories</ion-button>
                </p>
              </div>
            </ion-slide>
            <ion-slide>
              <div>
                <!--<h3 style = "color:white; font-family: bangers;text-align:center;">Coming</h3>-->
                <h1 style="color:white; font-weight: 600!important;;font-family: bangers;text-align:center;
                font-family: slides; font-size:3em;"><span class="highlight">REGISTER</span> YOUR EXPORT <span
                    class="highlight">PRODUCTS</span> now
                </h1>
                <p style="color:white;text-align:center;">
                  <ion-button style="font-family: general;" color="none" mode="ios"
                    style="border:1px white solid;border-radius: 10px;color:white; font-family: title;font-size: 1.3em;"
                    (click)="goToPage('custom-order')">
                    Register</ion-button>
                </p>
              </div>
            </ion-slide>
          </ion-slides>
        </ion-col>
        <ion-col
          style="padding-left:40px;padding-right:40px;padding-bottom:40px;background:rgba(177, 177, 177, 0.329);border-radius:10px;margin-top:130px;"
          size="4">
          <h1 style="color:white; font-weight: 500!important;font-family: title;text-align:center;
          font-family: slides; font-size:40px;">FINDING EXPORTERS IN PAKISTAN MADE EASIER
          </h1>
          <div style="text-align: center;padding:35px;">
            <img src="../../assets/images/truck.png" height="180px" />
          </div>
          <ion-searchbar mode="ios" color="none"
            style="background: rgba(255, 255, 255, 0.836);color:black;border-radius: 25px;" debounce="100"
            (ionChange)="search($event)" placeholder="Search for product, vendor or category..">
          </ion-searchbar>
          <div *ngIf="searchFound" style="z-index: 2000;">
            <div *ngFor="let search of searchFound" style="z-index: 2000;">
              <ion-item color="none" style="background:rgba(255, 255, 255, 0.877); z-index: 2000;">
                <ion-label slot="start" style="color:black;font-family:impact">{{search.name}}</ion-label>
                <div slot="end" style="color:rgb(58, 58, 58)">{{search.type}}</div>
              </ion-item>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid style="padding-top:200px;width:100%;float: right;" *ngIf="width<=600">
      <ion-row>
        <ion-col style="width: 40%;">
          <ion-searchbar mode="ios" color="none"
            style="background: rgba(255, 255, 255, 0.836);color:black;border-radius: 25px;" debounce="100"
            (ionChange)="search($event)" placeholder="Search for product, vendor or category..">
          </ion-searchbar>
        </ion-col>
        <ion-col>
          <ion-slides [options]="slideOpts">
            <ion-slide>
              <div>
                <!--<h3 style = "color:white; font-family: bangers;text-align:center;">Coming</h3>-->
                <h1 style="color:white; font-weight: bold;font-family: bangers;text-align:center;
                font-family: slides; font-size:3em;">Over <span class="highlight">500+ registered</span> exporters
                </h1>
                <p style="color:white;text-align:center;">
                  <ion-button style="font-family: general;" color="none" mode="ios"
                    style="border:1px white solid;border-radius: 10px;color:white; font-family: title;font-size: 1.3em;"
                    (click)="goToPage('custom-order')">
                    View Vendors</ion-button>
                </p>
              </div>
            </ion-slide>
            <ion-slide>
              <div>
                <!--<h3 style = "color:white; font-family: bangers;text-align:center;">Coming</h3>-->
                <h1 style="color:white; font-weight: bold;font-family: bangers;text-align:center;
                font-family: slides; font-size:3em;">Find exporters by <span class="highlight">category</span>
                </h1>
                <p style="color:white;text-align:center;">
                  <ion-button style="font-family: general;" color="none" mode="ios"
                    style="border:1px white solid;border-radius: 10px;color:white; font-family: title;font-size: 1.3em;"
                    (click)="goToPage('custom-order')">
                    View Categories</ion-button>
                </p>
              </div>
            </ion-slide>
            <ion-slide>
              <div>
                <!--<h3 style = "color:white; font-family: bangers;text-align:center;">Coming</h3>-->
                <h1 style="color:white; font-weight: bold;font-family: bangers;text-align:center;
                font-family: slides; font-size:3em;"><span class="highlight">Register</span> your export <span
                    class="highlight">products</span> now
                </h1>
                <p style="color:white;text-align:center;">
                  <ion-button style="font-family: general;" color="none" mode="ios"
                    style="border:1px white solid;border-radius: 10px;color:white; font-family: title;font-size: 1.3em;"
                    (click)="goToPage('custom-order')">
                    Register</ion-button>
                </p>
              </div>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!--TOP EXPORTERS-->
  <div style="z-index: 4;" class="whiteBack">
    <div class="titleDiv">
      <div class="subTitle">MEET OUR</div>
      <div class="mainTitle" style="margin-bottom:40px;">TOP EXPORTERS</div>
    </div>
    <div *ngIf="topvendors" style="text-align: center;">
      <div class="wrapper" *ngFor="let item of topvendors">
        <ion-row>
          <ion-col class="product-img">
            <img style="object-fit: contain;" src="{{item.Df.sn.proto.mapValue.fields.imageURL.stringValue}}"
              height="190" width="200">
          </ion-col>
          <ion-col class="product-info">
            <div class="product-text">
              <h1>{{item.Df.sn.proto.mapValue.fields.name.stringValue}}</h1>
              <h2>by studio and friends</h2>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
            </div>

          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <!--Categories-->
  <div class="greyBack"
    style="z-index: 4;background: url('../../assets/images/back.png');background-size: cover;background-position: left;">
    <div class="titleDiv">
      <div class="subTitle">LISTINGS</div>
      <div class="mainTitle">BY CATEGOREIS</div>
    </div>
    <div class="cardsparent2">
      <div *ngFor="let item of showCats" class="card2">
        <div class="card_image2">
          <img src="../../assets/images/cats/{{item}}.jpg" />
        </div>
        <div class="card_title2 title-white2" style="color:rgb(222, 236, 253)">
          <p>{{item.toUpperCase()}}</p>
        </div>
      </div>
    </div>
    <div style="text-align: center;" *ngIf="showCats && categories">
      <ion-button (click)="showMore()" fill="clear"
        style="font-family: slides;font-size:25px;margin:40px;color:rgb(211, 211, 211);border:1px white solid;border-radius: 5px;"
        *ngIf="showCats.length < categories.cats.arrayValue.values.length">
        <ion-icon name="add-outline"></ion-icon>Show More
      </ion-button>
    </div>
  </div>


  <!--EXPORTERS BY CAT-->
  <div class="greyBack">
    <div class="titleDiv">
      <div class="mainTitle" style="color:black;">BROWSE EXPORTERS</div>
      <div class=" subTitle" style="
      margin-bottom:80px;
  color:rgb(71, 71, 71);"> BY CATEGORIES</div>
      <div style="font-family: title;color:black;font-size:20px;">Find exporter by clicking on your desired
        category on the left side.</div>
    </div>

    <div>

      <ion-grid *ngIf="width>600">

        <ion-row *ngIf="categories">
          <ion-col size="2" style="border-top-right-radius: 25px;border-bottom-right-radius: 25px;">
            <div style=" -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);">
              <ion-toolbar color="primary">
                <ion-title style="font-family:title;text-align: center;">CATEGORIES</ion-title>
              </ion-toolbar>
              <div *ngFor="let cati of categories.cats.arrayValue.values" style="background: rgb(255, 255, 255);">
                <ion-item *ngIf="cat == cati.stringValue" color="none" mode="ios"
                  style="font-family:title;font-weight: 600!important;color:rgb(44, 44, 44);">
                  {{capitalizeFirstLetter(cati.stringValue)}}
                </ion-item>
                <ion-item *ngIf="cat != cati.stringValue" color="none" mode="ios" button lines="none"
                  style="font-family:title;font-weight: 300!important;color:rgb(80, 80, 80);"
                  (click)="changeCat(cati.stringValue)">
                  {{capitalizeFirstLetter(cati.stringValue)}}
                </ion-item>
              </div>
            </div>
          </ion-col>
          <ion-col *ngIf="temp" style="padding-left:50px;padding-right:50px;text-align: center;" size="10">
            <ion-card *ngFor="let item of temp;" color="none" style="background: white;
            -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);margin-bottom:15px;">
              <ion-row>
                <ion-col class="product-img" size="2" style="text-align: center;">
                  <img style="object-fit: contain;" src="{{item.imageURL}}" height="190" width="200">
                </ion-col>
                <ion-col class="product-info" size="8">
                  <div class="product-text" *ngIf="item.name">
                    <h1>{{item.name}}</h1>
                    <div style="color:rgb(37, 37, 37);font-family:title;padding:10px;font-size:15px;"
                      *ngIf="item.phone">
                      <ion-icon name="call-outline" style="margin-right:10px;"></ion-icon>
                      {{item.phone}}
                    </div>
                    <div style="color:rgb(37, 37, 37);font-family:title;padding:10px;font-size:15px;"
                      *ngIf="item.adress">
                      <ion-icon name="business-outline" style="margin-right:10px;"></ion-icon>
                      {{item.adress}}
                    </div>
                  </div>

                </ion-col>

                <ion-col size="2">
                  <ion-button (click)="openProfilePage(item.userID)" color="none" mode="ios"
                    style="border:1px rgb(23, 119, 230) solid;border-radius: 10px;color:rgb(33, 126, 233); font-family: title;margin-top:30%;position:relative">
                    View Exporter</ion-button>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="width<=600">
        <ion-row *ngIf="categories">
          <ion-col style="text-align: center;" size="12">
            <ion-card *ngFor="let vendor of temp;" color="none" style="background: white;
            -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);margin-bottom:15px;">
              <ion-row>
                <ion-col class="product-img" size="5">
                  <img style="object-fit: contain;" src="{{vendor.imageURL}}" height="190" width="200">
                </ion-col>
                <ion-col size="7">
                  <div class="product-text" style="height:auto;">
                    <h1>{{vendor.name}}</h1>
                    <h2>
                      <ion-icon name="timer-outline"></ion-icon> 2 years
                    </h2>
                  </div>
                  <div style="color:black">
                    <ion-button color="none"
                      style="border:1px rgb(21, 122, 255) solid;border-radius: 10px;color:rgb(6, 150, 233);">
                      <ion-icon name="globe-outline" size="large" color="none"></ion-icon>
                    </ion-button>
                    <ion-button color="none"
                      style="border:1px rgb(186, 37, 231) solid;border-radius: 10px;color:rgb(171, 0, 223);">
                      <ion-icon name="business-outline" size="large" color="none"></ion-icon>
                    </ion-button>
                    <ion-button color="none"
                      style="border:1px rgb(96, 204, 33) solid;border-radius: 10px;color:rgb(108, 219, 3);">
                      <ion-icon name="call-outline" size="large" color="none"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-card>
            <div>
              <ion-button fill="clear" style="font-family: slides;font-size:25px;" (click)="changeCat()">
                <ion-icon name="add-outline"></ion-icon>Show More
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div *ngIf="width >600"
    style="display: flex;justify-content: center;align-items: center;padding-top: 3em;padding-bottom:40px;color:rgb(255, 255, 255);background: url('../../assets/images/back.png');background-size: cover;">
    <div style="width: 70%;">
      <h1 style="font-size: 35px;font-weight: bold;font-family: title;text-align: center;">
        Get the best for your business!
      </h1>
      <h3 style="position: relative;top: -0.5em;font-size: 18px;font-family: title;text-align: center;">
        Online International Trade on Export Portal has a lot of advantages:
      </h3>

      <div style="display: flex;align-items: center;justify-content: center;text-align: center;padding-top: 3em;">
        <div style="width: 25%;">

          <ion-icon class="iconsize" name="pricetags-outline"></ion-icon>
          <p style="font-family: title;font-size: 19px;">Free Registration</p>
        </div>

        <div style="width: 25%;">

          <ion-icon class="iconsize" name="headset-outline"></ion-icon>
          <p style="font-family: title;font-size: 19px;">24/7 Online Support</p>
        </div>

        <div style="width: 25%;">

          <ion-icon class="iconsize" name="cash-outline"></ion-icon>
          <p style="font-family: title;font-size: 19px;">No Fees</p>
        </div>

        <div style="width: 25%;">

          <ion-icon class="iconsize" name="globe-outline"></ion-icon>
          <p style="font-family: title;font-size: 19px;">World Wide Users</p>
        </div>
      </div>
    </div>
  </div>


  <div
    style="display: flex;justify-content: center;align-items: center;padding-top: 3em;color:rgb(255, 255, 255);background: url('../../assets/images/back.png');background-size: cover;"
    *ngIf="width <=600">
    <div class="blackcolor" style="width: 70%;">
      <h1 style="font-size: 35px;font-weight: bold;font-family: title;text-align: center;">
        Get the best for your business!
      </h1>
      <h3 style="position: relative;top: -0.5em;font-size: 18px;font-family: title;text-align: center;">
        Online International Trade on Export Portal has a lot of advantages:
      </h3>

      <div
        style="display: flex;align-items: center;justify-content: center;text-align: center;padding-top: 3em;flex-direction: column;">
        <div style="width: 100%;">

          <ion-icon class="iconsize" name="pricetags-outline"></ion-icon>
          <p style="font-family: title;font-size: 19px;">Free Registration</p>
        </div>

        <div style="width: 100%;">

          <ion-icon class="iconsize" name="headset-outline"></ion-icon>
          <p style="font-family: title;font-size: 19px;">24/7 Online Support</p>
        </div>

        <div style="width: 100%;">

          <ion-icon class="iconsize" name="cash-outline"></ion-icon>
          <p style="font-family: title;font-size: 19px;">No Fees</p>
        </div>

        <div style="width: 100%;">

          <ion-icon class="iconsize" name="globe-outline"></ion-icon>
          <p style="font-family: title;font-size: 19px;">World Wide Users</p>
        </div>

      </div>

    </div>
  </div>
  <app-footer></app-footer>

</ion-content>