.cardsparent {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  margin: 30px auto;
  width: 400px;
  height: 300px;
  box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  position: relative;
  top: -4em;
  padding: 10px;
  color: white;
  background-color:  rgba(0, 0, 0, 0.521);;
}


.card:hover {
  cursor: pointer;
  box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

#container a {
  text-decoration: none;
}

.header {
  height: 700px;
  background: url("../../assets/images/back.jpg");
  background-size: cover;
  box-shadow: 0px 0px 10px 3px black;
}
@media all and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
}

.title {
  text-align: center;
  padding-top: 2em;
}
.titlefonts {
  font-family: title;
  font-size: 50px;
}
.a {
  display: none;
}
a:hover {
  display: inline;
}
