#content { margin: 50px; } 
a { text-decoration: none; }  
 
.expandable {
  background: #fff;
  color: #000;   
  line-height: 50px;

  transition: all 2s ease-in-out;
  height: 0;
  display:none;
 }
 
 .expandable:target {
    display:block;
  height: auto;
}
 